body {
    font-family: 'Times New Roman', Times, serif;
    background: url(https://png.pngtree.com/background/20240821/original/pngtree-finger-using-contact-icon-interface-photo-picture-image_10169149.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.contact-form-container {
    background: transparent;
    border: none;
    outline:none;
    border:2px solid rgb(231, 219, 219);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 2px;
    max-width: 450px;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 13px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 15px;
    background: transparent;
    border: none;
    outline:none;
    border:2px solid rgb(231, 219, 219); 
    color: white;
}
h2{
    color: white;
    margin-left: 35%;
    font-size: 30px;
}
button{
    margin-left: 37%;
    border-radius:7px;
    padding: 10px 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}
.error-message {
    color: rgb(233, 217, 217);
    display: none;
}
.submit-button:hover {
    background-color: white;
    color: black;
}